on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1

    insmod /lib/modules/touch_boost.ko
    insmod /lib/modules/mtk_ioctl_touch_boost.ko
    insmod /lib/modules/xiaomi_touch.ko
    insmod /lib/modules/gt9916k.ko

on early-fs
    start vold

on fs
    mount_all /first_stage_ramdisk/fstab.mt6789 --late
    setprop vendor.teefs_state ready
    setprop ro.hardware.gatekeeper mitee
    setprop crypto.ready 1

on property:ro.crypto.state=unsupported
    stop keymint-mitee
    stop vendor.gatekeeper-1-0
    stop tee-supplicant
    stop miteelog

on property:ro.crypto.state=unencrypted
    stop keymint-mitee
    stop vendor.gatekeeper-1-0
    stop tee-supplicant
    stop miteelog

on property:ro.crypto.state=encrypted
    start keymint-mitee
    start vendor.gatekeeper-1-0
    start tee-supplicant
    start miteelog

on property:twrp.decrypt.done=true
    stop keymint-mitee
    stop vendor.gatekeeper-1-0
    stop tee-supplicant
    stop miteelog

on boot
    setprop sys.usb.config adb
    chown system system /dev/xiaomi-touch
    chmod 0664 /dev/xiaomi-touch
    chown system system /sys/class/touch/tp_dev/fod_status
    chmod 0664 /sys/class/touch/tp_dev/fod_status
